@charset "UTF-8";

 *{margin: 0; padding: 0;}
 
 #content{
        width: 1440px;
        height: 850px;
        margin-top: 145px
    }
    div#menuLine{
        /* background: #35256B; */
        border-top: 1px solid black;
        border-bottom: 3.3px solid #35256B;
        height: 40px;
    }
    ul#movieMenu{
        text-align: center;
        /* border: 1px solid red; */
        position: relative;
        top: 10px;
    }
    ul#movieMenu li{
        /* border: 1px solid red; */
        list-style: none;
        display: inline-block;
        padding: 0 100px;
    }
    ul#movieMenu li a{
        float: left;
        /* border: 1px solid purple; */
        text-decoration: none;
        /* padding: 0 100px; */
        color: rgb(87, 85, 85);
        font-weight: bold;
    }
    ul#movieMenu a:hover{
        color: #35256B;
    }
/*  */
    ul#orderMenu{
        text-align: right;
        /* border: 1px solid red; */
        position: relative;
        top: 30px;
    }
    ul#orderMenu li{
        /* border: 1px solid red; */
        list-style: none;
        display: inline-block;
    }
    ul#orderMenu li a{
        /* border: 1px solid purple; */
        text-decoration: none;
        color: rgb(87, 85, 85);
        font-weight: bold;
    }
    ul#orderMenu a:hover{
        color: #35256B;
    }
    li#order_2{
        margin-right: 100px;
    }
    ul#orderMenu li:not(:last-of-type)::after {
        padding: 0 10px;
    }


    div.ranking_box{
        background-color: #35256B;
        width: 40px;
        height: 40px;
        color: white;
        text-align: center;
        line-height: 40px;
        border-radius: 5px 5px;
        font-size: 20px;
    }
    div.moviePoster{
        border: 1px solid orange;
        margin-top: 80px;
        display: inline-block;
        position: relative;
        /* margin-left: 130px; */
    }
    
    div.ranking_box, .title, .ticketing_rate, .date, .grade, .like{
        margin-left: 130px;
        margin-bottom: 2px;
        /* position: absolute; */
        /* left: 10px; */
    }

    .movieRating{
        width: 30px;
    }
    .title{
        font-weight: bold;
        font-size: 20px;
    }
    .like{
        margin-top: 5px;
        background-color: rgb(192, 57, 43);
        color: white;
        font-weight: bold;
        font-size: 15px;
        border: 0px;
        width: 60px;
        height: 25px;
        border-radius: 3px 3px;
        cursor: pointer;
    }

    img.poster{
        width: 200px;
        margin-top: 10px;
        margin-left: 130px;
        margin-bottom: 10px;
        /* position: relative; */
    }
    img.poster:hover{
        filter: brightness(50%);
    }
    div.img_hover{
        z-index: 10;
        /* display: none; */
    }
    div.img_hover a{
        text-decoration: none;
        border: 2px solid black;
        border-radius: 4px 4px;
        padding: 10px;
        /* color: white; */
    }